  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      margin: 8px 0;
  }
  h3{
    color: rgb(255, 145, 0);
  }
  h1{
    color: rgb(255, 145, 0);    text-align: center;
  }

  p {
      margin: 0;
  }

  .spacer {
      flex: 1;
  }

  .toolbar {
      position: absolute;
      top: 0.5em;
      left: 0;
      right: 0;
      height: 60px;
      display: flex;
      align-items: center;
      background-color: #e8ebee;
      color: rgb(5, 5, 5);
      font-weight: 600;
      padding: 0 10px;
  }

  .toolbar img {
      margin: 0 16px;
  }


  .content {
      display: flex;
      margin: 82px auto 32px;
      padding: 0 16px;
      max-width: 960px;
      flex-direction: column;
      align-items: center;
  }

 .card svg.material-icons path {
      fill: #888;
  }

  .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 16px;
  }

  .card {
      all: unset;
      border-radius: 4px;
      border: 1px solid #eee;
      background-color: #fafafa;
      height: 40px;
      width: 200px;
      margin: 0 8px 16px;
      padding: 16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
  }

  .card-container .card:not(:last-child) {
      margin-right: 0;
  }

  .card.card-small {
      height: 16px;
      width: 168px;
  }

  .card-container .card:not(.highlight-card) {
      cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
      fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
      background-color: #1976d2;
      color: white;
      font-weight: 600;
      border: none;
      width: auto;
      min-width: 30%;
      position: relative;
  }

  .card.card.highlight-card span {
      margin-left: 60px;
  }


  a,
  a:visited,
  a:hover {
      color: #070707;
      text-decoration: none;
      margin: 10px;
  }

  a:hover {
      color: #125699;
  }

  svg#clouds {
      position: fixed;
      bottom: -160px;
      left: -230px;
      z-index: -10;
      width: 1920px;
  }
  .mainDiv {
      margin: 0.5em;
      padding: 0.5em;
      margin: 0 auto;
      background: rgb(244, 244, 245);
      border: 1px solid rgb(173, 173, 177);
      text-align: center;
            border-radius: 10px;
  }
  
    .infoBook {
      margin: 0.5em;
      padding: 0.5em;
      margin: 0 auto;
      background: rgb(244, 244, 245);
      border: 1px solid rgb(173, 173, 177);
      border-radius: 10px;
  }

      .addBook {
      margin: 0.5em;
      padding: 0.5em;
      margin: 0 auto;
      background: rgb(244, 244, 245);
      border: 1px solid rgb(173, 173, 177);
      border-radius: 10px;
        display: none;
  }
                 TD.leftcol {
                     width: 110px;
                     vertical-align: top;
                     padding: 10px;
                 }

  .wrapper {
      display: flex;

  }

  .wrapper>div {
      flex: 1;
      border: 1px solid rgb(143, 143, 146);
      padding: 10px;
  }

  th {
      font-weight: normal;
      color: #039;
      padding: 10px 15px;
      border-top: 2px solid #8abef1;
  }

  td {
      color: #669;
      border-top: 2px solid #8abef1;
      padding: 10px 15px;
  }

  tr:nth-child(2n) {
      background: #e8edff;
  }